:root {
  font-size: 16px;
  --amrine_blue: hsl(213, 96%, 18%);
  --purplish_blue: hsl(243, 100%, 62%);
  --pastel_blue: hsl(228, 100%, 84%);
  --light_blue: hsl(206, 94%, 87%);
  --strawberry_red: hsl(354, 84%, 57%);
  --cool_gray: hsl(231, 11%, 63%);
  --light_gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
  --selected_border: hsl(236, 89%, 41%);
  font-family: "Ubuntu", sans-serif;
  color: var(--amrine_blue);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--magnolia);
}

#container {
  display: flex;
  margin: auto 1.25rem;
  justify-content: space-between;
  width: 1150px;
  height: 700px;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--white);
}

#container_left {
  width: 30%;
  padding: 3%;
  padding-top: 4%;
  border-radius: 1rem;
  background-image: url("./assets/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.steps {
  display: flex;
  column-gap: 10%;
}
.step_number {
  height: 2.2rem;
  width: 2.2rem;
  display: flex;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  border-radius: 1.1rem;
  color: white;
  border: 0.5px solid white;
}
.step_name_container {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
}
.step {
  font-size: 0.9rem;
  color: var(--pastel_blue);
}
.step_name {
  font-size: 1.05rem;
  font-weight: 700;
  color: var(--white);
}
#container_right {
  width: 69%;
  height: 100%;
  padding: 3.3rem 10% 1rem 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 2rem;
}
.personal_info,
.plan_select,
.add_ons_container,
.finishing_up {
  display: flex;
}

.page {
  width: 100%;
  flex-direction: column;
  row-gap: 3rem;
}
.page_heading {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
}
.heading {
  font-size: 2.3rem;
  font-weight: 700;
}
.message {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--cool_gray);
}

.personal_info_filling {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.person_input_container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.input_heading_container {
  display: flex;
  justify-content: space-between;
}
.required_message {
  color: var(--strawberry_red);
  font-size: 1.05rem;
  font-weight: 700;
}
.input_heading {
  font-size: 1.05rem;
  font-weight: 500;
}

.input {
  border: 0.1px solid var(--light_gray);
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.2rem;
}
input::placeholder {
  color: var(--cool_gray);
  font-size: 1.2rem;
}
input,
input:focus {
  color: var(--amrine_blue);
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem;
}
.button_container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.go_back {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: transparent;
  color: var(--cool_gray);
}
.go_back:hover {
  color: var(--amrine_blue);
}
.next_step {
  padding: 1rem 1.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  font-weight: 700;
  background-color: var(--amrine_blue);
  color: var(--white);
}
.next_step:hover {
  background-color: hsl(213, 72%, 31%);
}
/* page 2 */

.plan_select {
  display: flex;
}


.options {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.option,
.selection_button {
  cursor: pointer;
}
.option_list {
  display: flex;
  justify-content: space-between;

}
.radio{
  display: none;
}
input[type="radio"]:checked + .option{ 
  background-color: var(--magnolia);
  border-color: var(--selected_border);
}
.option {
  width: 30%;
  border: 0.1px solid var(--light_gray);
  border-radius: 1rem;
  padding: 5%;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.option:hover {
  border-color: var(--selected_border);
}
.option_img {
  width: 40%;
}
.option_detail {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.option_name {
  font-size: 1.2rem;
  font-weight: 700;
}
.price {
  font-size: 1.1rem;
  color: var(--cool_gray);
  color: var(--cool_gray);
}

.monthly_or_yearly {
  background-color: var(--magnolia);
  padding: 1rem;
  border-radius: 0.7rem;
  display: flex;
  justify-content: center;
  column-gap: 5%;
}
.monthly,
.yearly {
  color: var(--cool_gray);
  font-size: 1.1rem;
  font-weight: 700;
}

#monthly_yearly_change {
  display: none;
}
.selection_button {
  display: flex;
  background-color: black;
  width: 3rem;
  border-radius: 1rem;
  padding: 4px 3px;
}

.button_handle {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: white;
}

/* page 3 */

.add_ons_list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1.3rem;
}

.add_ons {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 3.8% 5%;
  border: 0.5px solid var(--light_gray);
  border-radius: 0.5rem;
}
.add_ons:hover {
  border: 1px solid var(--selected_border);
  /* border-color:; */
}
.services {
  width: 60%;
  column-gap: 8%;
  display: flex;
}
.service {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}
.checkbox {
  width: 1.2rem;
  accent-color: var(--purplish_blue);
}

.service_name {
  font-size: 1.2rem;
  font-weight: 700;
}
.service_detail {
  font-size: 1rem;
  font-weight: 500;
  color: var(--cool_gray);
}
.service_cost {
  color: var(--purplish_blue);
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  justify-content: end;
  align-items: center;
}

/* page 4 */
.payment_detail {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.charges {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  background-color: var(--alabaster);
  border-radius: 1rem;
  padding: 5%;
}
.selected_plan {
  display: flex;
  row-gap: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: space-between;
}
.selected_plan_type {
  display: flex;
  row-gap: 0.5rem;
  flex-direction: column;
}
.selected_plan_type_change {
  font-size: 1.1rem;
  cursor: pointer;
  text-decoration: underline 2px;
  color: var(--cool_gray);
}
.selected_plan_type_change:hover {
  color: var(--purplish_blue);
}
.selected_plan_cost {
  display: flex;
  align-items: center;
}
.selected_add_ons_container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  font-weight: 500;
  border-top: 1px solid var(--cool_gray);
}

.selected_add_ons_monthly,
.selected_add_ons_yearly {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding-top: 1.5rem;
}

.selected_add_ons {
  display: flex;
  justify-content: space-between;
}
.selected_add_ons_name {
  font-size: 1.2rem;
  color: var(--cool_gray);
}

.selected_add_ons_cost {
  font-size: 1.2rem;
}

.total_cost {
  display: flex;
  padding: 2% 5%;
  justify-content: space-between;
}
.total_heading {
  font-size: 1.2rem;
  color: var(--cool_gray);
  font-weight: 500;
}
.final_cost {
  font-size: 1.35rem;
  font-weight: 700;
  color: var(--purplish_blue);
}

/* thank you page */
.thank_you_page_container {
  width: 100%;
  padding-top: 7rem;
}

.thank_you_page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2.5rem;
}
.thanks {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.4rem;
}
.thank_you {
  font-size: 2.3rem;
  font-weight: 700;
}

.thank_you_note {
  line-height: 1.8rem;
  font-size: 1.15rem;
  text-align: center;
  color: var(--cool_gray);
}

.personal_info,
.plan_select,
.add_ons_container,
.finishing_up,
.go_back_span {
  display: none;
}

/* ADDITIONAL CLASSES */

.flex {
  display: none;
}

.colorAB {
  color: var(--amrine_blue);
}
.justify_right {
  justify-content: end;
}

.option_selected {
  background-color: var(--magnolia);
  border-color: var(--selected_border);
}
.border_color {
  border-color: var(--strawberry_red);
}

@media (max-width: 800px) and (min-width: 576px) {
  #container_right {
    width: 63%;
    padding: 3.3rem 1% 1rem 1%;
  }
  #container_left {
    width: 34%;
    padding-top: 2.5rem;
    padding-left: 2%;
    padding-right: 2%;
  }
  .option {
    padding: 2%;
  }
}

@media (max-width: 576px) {
  :root {
    font-size: 14px;
  }
  #container {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    background-color: transparent;
  }

  #container_left {
    width: 100%;
    height: 30%;
    min-height: 230px;
    border-radius: 0;
    flex-direction: row;
    justify-content: center;
    background-image: url("./assets/images/bg-sidebar-mobile.svg");
    padding-top: 4rem;
    column-gap: 8%;
  }
  .step_name_container {
    display: none;
  }
  #container_right {
    width: 100%;
    padding: 0;
  }
  .thank_you_page_container {
    height: 31rem;
    padding-top: 0;
  }
  .thank_you_page {
    background-color: var(--white);
    width: 90%;
    margin: 0 auto;
    padding: 15% 10%;
    border-radius: 1rem;
    margin-top: -6.5rem;
  }
  .page {
    background-color: var(--white);
    width: 90%;
    margin: 0 auto;
    padding: 8% 5%;
    border-radius: 1rem;
    margin-top: -6.5rem;
    row-gap: 2rem;
  }

  .heading {
    font-size: 2rem;
  }
  .button_container {
    justify-content: space-between;
    padding: 3% 5%;
    background-color: var(--white);
  }
  .option_list {
    flex-direction: column;
    row-gap: 0.9rem;
  }
  .options {
    row-gap: 1.5rem;
  }
  .option {
    width: 100%;
    padding: 1.1rem;
    border-radius: 0.5rem;
    flex-direction: row;
    column-gap: 1.5rem;
  }
  .option_img {
    width: 3rem;
  }
}
